<div class="tree-item tree-leaf js-item js-leaf">
  {% if include.url == page.url %}
      <div class="tree-item-title tree-leaf-title js-item-title js-leaf-title">
          <div class="marker"></div>
          <div class="text">{{ include.title }}</div>
      </div>
  {% else %}
      <a href="{{ include.url | relative_url }}"
          class="tree-item-title tree-leaf-title js-item-title js-leaf-title"
      >
          <span class="marker"></span>
          <span class="text">{{ include.title }}</span><br>
      </a>
  {% endif %}
</div>
